/**
 * @snippet       Full Width Product Image @ Single Product
 * @author        Khalid Almallahi
 * @testedwith    WooCommerce 3.9
 */
 
.woocommerce #content div.product div.images, .woocommerce div.product div.images, .woocommerce-page #content div.product div.images, .woocommerce-page div.product div.images, .woocommerce #content div.product div.summary, .woocommerce div.product div.summary, .woocommerce-page #content div.product div.summary, .woocommerce-page div.product div.summary {
   float: none;
   width: 100%;
   max-width: unset;
   clear: both;
}
 
.woocommerce-product-gallery img {
   width: 100%;
}
